.employee-container {
    border: solid 1px #adacac;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    min-width: 50vw;
    padding: 15px;
    margin-top: 10px;
    background-color: #F4F4F4;
}

.employee-container:hover {
    background-color: #f4f4f4;
}

.informations h3 {
    font-weight: 700;
    font-size: 1.6rem;
    color: #2b2723;
}

.employee-container h4 {
    margin: 10px 0;
    color: #757070;
}

.items-container {
    /* border: solid 1px #ccc; */
    display: flex;
    justify-content: space-between;
}

.items-container ul {
    display: flex;
    flex-wrap: wrap;
}

.items-container span {
    margin: 10px 15px 10px 0;
    font-weight: 500;
}

.informations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

.informations-item-container {
    display: flex;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    color: #585e69;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 5px;
    /* border: solid 1px #ccc; */
}

.informations-item-container label {
    color: #43474e;
    margin-right: 10px;
}

.employee-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 80px;
    padding: 3px;
    margin-right: 25px;
}

.personal-data-employee-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: solid 1px #5a5756;
}

.items-icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}