:root {
    --background-primary-collor: #FFFFFF;
    --background-secudary-collor: #F5F8FA;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    background-color: var(--background-main-collor);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

.tag {
    box-shadow: 0px 0px 2px rgb(0 0 0 / 30%);
    background-color: #f4f4f4;
    color: #222324;
    font-weight: 400;
    width: fit-content;
    padding: 6px 15px;
    font-size: 0.9rem;
    border-radius: 1em;
    margin: 0 6px 5px 0;
}