:root {
    --background-primary-collor: #FFFFFF;
    --background-secudary-collor: #F5F8FA;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    background-color: var(--background-main-collor);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.tag {
    box-shadow: 0px 0px 2px rgb(0 0 0 / 30%);
    background-color: #f4f4f4;
    color: #222324;
    font-weight: 400;
    /* min-width: 150px; */
    padding: 6px 15px;
    font-size: 0.9rem;
    border-radius: 1em;
    margin: 0 6px 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tag-icons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 15px;
}

.form-container {
    min-width: 300px;
    max-width: 70vw;
    min-height: fit-content;
    padding: 10px;
    background-color: white;
    border: solid 1px #b6b6b6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-popup {
    position: fixed;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    margin-top: 80px;
}

.link-icons {
    opacity: 0.6;
}

.link-icons:hover {
    cursor: pointer;
    opacity: 1
}

.form-page {
    /* margin-top: 50px; */
    border: solid 1px #ccc;
}

.form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: solid 1px #ccc;
    background: #f1f1f1
}

.form-container form {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-container input[type=text]:focus,
.form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-container button {
    width: 60% !important;
    font-size: 1rem;
    font-weight: 700;
}

.form-container .input-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 0;
    width: 100%;
}